.productMain{
  margin: 2vh 2vw;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-details {
  text-align: center;
}

.product-details h3 {
  margin: 0;
}

.product-details p {
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
